doctype 5
html
    head
        title socket.io game
        link(rel="stylesheet")(href="media/style.css")
        script(src="media/jquery-1.8.1.min.js")
        script(src="shared_logic/inheritance.js")
        script(src="shared_logic/eventemitter.js")
        script(src="shared_logic/math2d.js")
        script(src="shared_logic/world.js")
        script(src="shared_logic/movement.js")
        script(src="media/socket.io.js")
        script(src="media/script.js")
    body.game
        span.debuginfo.ping
        .group-canvases-as-layers
            canvas(width="640")(height="480")#debugcanvas
            canvas(width="640")(height="480")#gamecanvas
                span(style="text-align: center") Your browser does not support teh canvas
        hr
        ul.announcements
